<%- include('../partials/header') %>

<h1>Project Details</h1>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
  <input
    type="text"
    class="form-control"
    name="id"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    value="<%= project.id %>"
    disabled
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Created Date</span>
  <input
    type="text"
    class="form-control"
    name="createdDate"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    value="<%= project.createdDate %>"
    disabled
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Last Updated Date</span>
  <input
    type="text"
    class="form-control"
    name="lastUpdated"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    value="<%= project.lastUpdated %>"
    disabled
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Project Name</span>
  <input
    id="name"
    type="text"
    class="form-control"
    name="name"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    value="<%= project.name %>"
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
  <input
    id="description"
    type="text"
    class="form-control"
    name="description"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
    value="<%= project.description %>"
  />
</div>

<button id="delete" type="delete" class="btn btn-danger">DELETE</button>
<a type="cancel" class="btn btn-secondary" href="/projects">Cancel</a>
<button id="update" class="btn btn-primary float-right">Update</button>

<script>
  $('.navbar-nav').append(
    '<a class="nav-link active" aria-current="page" href="/projects/<%= project.id %>/requirements">Requirements</a>'
  );
  $(document).ready(function () {
    $('#update').click(function () {
      var settings = {
        url: '/projects/<%= project.id %>',
        method: 'PUT',
        dataType: 'html',
        data: { name: $('#name').val(), description: $('#description').val() },
        success: function (result) {
          window.location.replace('/projects');
        },
      };
      $.ajax(settings);
    });

    $('#delete').click(function () {
      var settings = {
        url: 'http://localhost:3000/projects/<%= project.id %>',
        method: 'DELETE',
        timeout: 0,
        success: function (result) {
          window.location.replace('/projects');
        },
      };

      $.ajax(settings);
    });
  });
</script>
<%-include('../partials/footer')%>
