<%- include('../partials/header') %>

<h1><%= pageTitle %></h1>
<ul class="list-group">
  <% projectNames.forEach(function(project){%>

  <a class="list-group-item" href="projects/<%= project.name %>">

    <%= project.createdDate %>, <%= project.name %> , "<%= project.description %>"
  </a>
  <%})%>
</ul>

<%- include('../partials/footer')%>
