<%- include('../partials/header') %>

<h1><%= pageTitle %></h1>

<a type="submit" class="btn btn-primary" href="projects/create-project">Create Project</a>

<ul class="list-group">
  <% projectNames.forEach(function(project){%>

  <li class="list-group-item">
    <%= project.createdDate %>, <%= project.name %> , "<%= project.description %>"

    <a href="projects/<%= project.name %>" class="btn btn-primary pull-right" role="button">Edit</a>
  </li>

  <%})%>
</ul>

<%- include('../partials/footer')%>
